<div class="container" xmlns="http://www.w3.org/1999/html">
  <header>
    <div>
      <img id="logo" width=200 height=169 src="../assets/img/logo/logo.jpeg" alt="Магазин Lion's Style"/>
      <span id="city">г. Нижний Новгород </span>
      <span id="phone">8(999)120-8858</span>
      <span id="menuIcons">
      <app-icon
        *ngFor="let iterIcon of icons; let idx = index"
        [icon]="iterIcon"
        [index]="idx+1">
      </app-icon>
      </span>
    </div>

    <span id="forWomen" (mouseover)="showFemaleMenu()" (mouseleave)="hideFemaleMenu()"
          [ngClass]="{selected: femaleMenuShow === true}">
      Женщинам
    </span>

    <span id="forMen" (mouseover)="showMaleMenu()" (mouseleave)="hideMaleMenu()"
          [ngClass]="{selected: maleMenuShow === true}">
      Мужчинам
    </span>

    <span id="sale">
      Распродажа
    </span>

    <span id="novelty">
      Новинки
    </span>

    <span id="aboutMenu">
      О нас
    </span>

  </header>

  <div id="femaleCategories" (mouseover)="showFemaleMenu()" (mouseleave)="hideFemaleMenu()">
    <ul *ngIf="(femaleCategory&&femaleMenuShow)">
      <li *ngFor="let iterCategory of femaleCategory">
        <hr>
        {{(iterCategory.name | json).substring(1, iterCategory.name.length + 1)}}</li>
    </ul>
  </div>

  <div id="maleCategories" (mouseover)="showMaleMenu()" (mouseleave)="hideMaleMenu()">
    <ul *ngIf="(maleCategory&&maleMenuShow)">
      <li *ngFor="let iterCategory of maleCategory">
        <hr>
        {{(iterCategory.name | json).substring(1, iterCategory.name.length + 1)}}</li>
    </ul>
  </div>

  <body style="margin: 0">
  <div id="centralCartBlock">

    <h1 id="cartTitle">Корзина</h1>



    <app-cart-item
      *ngFor="let iterSupportCartItem of supportCartItems; let idx = index"
      [productCard]="iterSupportCartItem.productCard"
      [count]="iterSupportCartItem.count"
      [index]="idx+1">
    </app-cart-item>

    <a routerLink=".">
      <img id="disobedientCart" width="30" height="30" src="assets/img/icons/cart.png" alt="Корзина">
    </a>

  </div>

  <span id="topNavigation">
    <a id="toMainPage" routerLink="..">Главная</a>
    <a id="dash"> — </a>
    <a id="toPersonnel" routerLink=".">Корзина</a>
  </span>

  <footer style="color: white">
    <div id="footerAbout">
      <ul>
        <li id="footerAboutHeader"><a>КОМПАНИЯ</a></li>
        <li><a>О компании</a></li>
        <li><a>Новости</a></li>
        <li><a>Работа у нас</a></li>
        <li><a>Контакты</a></li>
        <li><a>Оптовая торговля</a></li>
        <li><a>Карта рассрочки</a></li>
        <li><a>Подарочные карты</a></li>
      </ul>
    </div>

    <div id="footerInfo">
      <ul>
        <li id="footerInfoHeader"><a>ИНФОРМАЦИЯ</a></li>
        <li><a>Магазины</a></li>
        <li><a>Условия оплаты</a></li>
        <li><a>Условия доставки</a></li>
        <li><a>Возврат</a></li>
        <li id="footerConfidentialPolicy"><a>Политика<br>конфиденциальности</a></li>
      </ul>
    </div>

    <div class="social vk">
      <a href="#" target="_blank"><i class="fa fa-vk fa-2x"></i></a>
    </div>

    <div class="social instagram">
      <a href="#" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
    </div>

    <div class="social telegram">
      <a href="#" target="_blank"><i class="fa fa-paper-plane fa-2x"></i></a>
    </div>

    <div class="social whatsapp">
      <a href="#" target="_blank"><i class="fa fa-whatsapp fa-2x"></i></a>
    </div>

    <hr id="leftFooterLine">

    <hr id="rightFooterLine">

    <a id="footerInfoEnding">2022 © Lion-style.ru – Интернет-магазин одежды </a>

    <img id="masterCard" src="assets/img/icons/mastercard.png">
    <img id="visa" src="assets/img/icons/visa.png">
    <img id="mir" src="assets/img/icons/mir.svg">
    <button id="subscribe">ПОДПИСАТЬСЯ НА РАССЫЛКУ <img id="letter" src="assets/img/icons/letter.png"></button>

    <a id="footerPhone">8 (999) 120-8858</a>
    <img id="footerPhoneIcon" src="assets/img/icons/phone.png">

  </footer>
  </body>
</div>

