<div class="container" xmlns="http://www.w3.org/1999/html">
  <header>
    <div>
      <img id="logo" width=200 height=169 src="../assets/img/logo/logo.jpeg" alt="Магазин Lion's Style"/>
      <span id="city">г. Нижний Новгород </span>
      <span id="phone">8(999)120-8858</span>
      <span id="markUserIsAuthorized">Вы вошли как {{email}}</span>
      <span id="menuIcons">
      <app-icon-authorized
        *ngFor="let iterIcon of icons; let idx = index"
        [icon]="iterIcon"
        [index]="idx+1">
      </app-icon-authorized>

         <a routerLink="..">
          <img id="disobedientPersonnel" width="30" height="30" src="assets/img/icons/user.png" alt="Личный кабинет">
        </a>

        <a routerLink="../../cart">
          <img id="disobedientCart" width="30" height="30" src="assets/img/icons/cart.png" alt="Корзина">
        </a>

      </span>
    </div>

    <span id="forWomen" (mouseover)="showFemaleMenu()" (mouseleave)="hideFemaleMenu()"
          [ngClass]="{selected: femaleMenuShow === true}">
      Женщинам
    </span>

    <span id="forMen" (mouseover)="showMaleMenu()" (mouseleave)="hideMaleMenu()"
          [ngClass]="{selected: maleMenuShow === true}">
      Мужчинам
    </span>

    <span id="sale">
      Распродажа
    </span>

    <span id="novelty">
      Новинки
    </span>

    <span id="aboutMenu">
      О нас
    </span>

    <a id="logout" (click)="logOut()">Выйти из аккаунта</a>
  </header>

  <div id="femaleCategories" (mouseover)="showFemaleMenu()" (mouseleave)="hideFemaleMenu()">
    <ul *ngIf="(femaleCategory&&femaleMenuShow)">
      <li *ngFor="let iterCategory of femaleCategory">
        <hr>
        {{(iterCategory.name | json).substring(1, iterCategory.name.length + 1)}}</li>
    </ul>
  </div>

  <div id="maleCategories" (mouseover)="showMaleMenu()" (mouseleave)="hideMaleMenu()">
    <ul *ngIf="(maleCategory&&maleMenuShow)">
      <li *ngFor="let iterCategory of maleCategory">
        <hr>
        {{(iterCategory.name | json).substring(1, iterCategory.name.length + 1)}}</li>
    </ul>
  </div>
  <body>

  <div id="centralBlock">
    <h1 id="personnel">Персональные данные</h1>

    <span id="topNavigation">
    <a id="toMainPage" routerLink="../..">Главная</a>
    <a id="dash"> — </a>
    <a id="toPersonnel" routerLink="..">Личный кабинет</a>
    <a id="dash2"> — </a>
    <a id="toInfoItems" routerLink=".">Персональные данные</a>
  </span>

    <table id="personnelNavigation" border="1">
      <tr id="leftPersonnel">
        <td><a routerLink="..">Личный кабинет</a></td>
      </tr>
      <tr id="leftPersonalInfo">
        <td><a routerLink=".personal-info">Персональные данныe</a></td>
      </tr>
      <tr id="leftCurrentOrders">
        <td><a routerLink="../current-orders">Текущие заказы</a></td>
      </tr>
      <tr id="leftOrdersHistory">
        <td><a routerLink="../orders-history">История заказов</a></td>
      </tr>
    </table>

    <table id="tablePersonalInfo" (input)="markChange()">
      <tr>
        <td class="title" style="min-width: 15vw">Имя:</td>
        <td class="form"><input maxlength="90" type="text" value="{{advancedUserInfo.firstName}}" [(ngModel)]="advancedUserInfo.firstName" ></td>
        <td style="min-width: 30vw; text-align: left"><a style="color: red" *ngIf="advancedUserInfo.firstName.length < 1">Не указано</a></td>
      </tr>

      <tr>
        <td class="title" style="min-width: 15vw">Фамилия:</td>
        <td class="form"><input maxlength="90" type="text" value="{{advancedUserInfo.lastName}}" [(ngModel)]="advancedUserInfo.lastName" ></td>
        <td style="min-width: 30vw; text-align: left"><a style="color: red" *ngIf="advancedUserInfo.lastName.length < 1">Не указана</a></td>
      </tr>

      <tr>
        <td class="title">E-mail:</td>
        <td><input maxlength="90" type="text" value="{{formEmail}}" [(ngModel)]="formEmail"></td>
        <td style="min-width: 30vw; text-align: left"><a style="color: red" *ngIf="!emailReg.test(formEmail)">Введите корректный E-mail</a></td>
      </tr>

      <tr>
        <td class="title">Телефон:</td>
        <td><input maxlength="20" type="text" value="{{advancedUserInfo.phoneNumber}}" [(ngModel)]="advancedUserInfo.phoneNumber"></td>
        <td style="min-width: 30vw; text-align: left"><a style="color: red" *ngIf="advancedUserInfo.phoneNumber == null || advancedUserInfo.phoneNumber.length == 0">Не указан</a><a style="color: red" *ngIf="advancedUserInfo.phoneNumber != null && advancedUserInfo.phoneNumber.length != 0 && !phoneReg.test(advancedUserInfo.phoneNumber)">Не корректный</a></td>
      </tr>

      <tr>
        <td class="title">Адрес доставки:</td>
        <td><input maxlength="200" type="text" value="{{advancedUserInfo.lastDeliveryAddress}}" [(ngModel)]="advancedUserInfo.lastDeliveryAddress"></td>
        <td style="min-width: 30vw; text-align: left"><a style="color: red" *ngIf="advancedUserInfo.lastDeliveryAddress == null">Не указан</a></td>
      </tr>


      <tr>
        <td class="title">Пол:</td>
        <td>
          <select [(ngModel)]="advancedUserInfo.gender">

            <option value=UNSET>Не указан</option>

            <option value=MALE>Мужской</option>

            <option value=FEMALE>Женский</option>

          </select>
        </td>
      </tr>

    </table>

    <div *ngIf="infoWasChanged && advancedUserInfo.firstName.length > 1 && advancedUserInfo.lastName.length > 1 && formEmail.length > 1 && emailReg.test(formEmail) && (advancedUserInfo.phoneNumber == null || advancedUserInfo.phoneNumber.length == 0 || phoneReg.test(advancedUserInfo.phoneNumber))" id="confirmChanges">
      <a routerLink=".">
        <button (click)="saveChanges()">Сохранить изменения</button>
      </a>
    </div>

  <div *ngIf="!(infoWasChanged && advancedUserInfo.firstName.length > 1 && advancedUserInfo.lastName.length > 1 && formEmail.length > 1 && emailReg.test(formEmail) && (advancedUserInfo.phoneNumber == null || advancedUserInfo.phoneNumber.length == 0 || phoneReg.test(advancedUserInfo.phoneNumber)))" id="confirmChangesInactive">
      <a>
        <button>Сохранить изменения</button>
      </a>
    </div>
  </div>

  <footer style="color: white">
    <div id="footerAbout">
      <ul>
        <li id="footerAboutHeader"><a>КОМПАНИЯ</a></li>
        <li><a>О компании</a></li>
        <li><a>Новости</a></li>
        <li><a>Работа у нас</a></li>
        <li><a>Контакты</a></li>
        <li><a>Оптовая торговля</a></li>
        <li><a>Карта рассрочки</a></li>
        <li><a>Подарочные карты</a></li>
      </ul>
    </div>

    <div id="footerInfo">
      <ul>
        <li id="footerInfoHeader"><a>ИНФОРМАЦИЯ</a></li>
        <li><a>Магазины</a></li>
        <li><a>Условия оплаты</a></li>
        <li><a>Условия доставки</a></li>
        <li><a>Возврат</a></li>
        <li id="footerConfidentialPolicy"><a>Политика<br>конфиденциальности</a></li>
      </ul>
    </div>

    <div class="social vk">
      <a href="#" target="_blank"><i class="fa fa-vk fa-2x"></i></a>
    </div>

    <div class="social instagram">
      <a href="#" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
    </div>

    <div class="social telegram">
      <a href="#" target="_blank"><i class="fa fa-paper-plane fa-2x"></i></a>
    </div>

    <div class="social whatsapp">
      <a href="#" target="_blank"><i class="fa fa-whatsapp fa-2x"></i></a>
    </div>

    <hr id="leftFooterLine">

    <hr id="rightFooterLine">

    <a id="footerInfoEnding">2022 © Lion-style.ru – Интернет-магазин одежды </a>

    <img id="masterCard" src="assets/img/icons/mastercard.png">
    <img id="visa" src="assets/img/icons/visa.png">
    <img id="mir" src="assets/img/icons/mir.svg">
    <button id="subscribe">ПОДПИСАТЬСЯ НА РАССЫЛКУ <img id="letter" src="assets/img/icons/letter.png"></button>

    <a id="footerPhone">8 (999) 120-8858</a>
    <img id="footerPhoneIcon" src="assets/img/icons/phone.png">

  </footer>
  </body>
</div>

